.app-button {
    background-color: #008489; /* Airbnb green color */
    color: #fff; /* Text color */
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px; /* Adjust padding as needed */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app-button:hover {
    background-color: #006d70; /* Darker green on hover */
  }
  